body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #242B33;
    color: #ffffff;
    box-sizing: border-box;
}
body *{
    box-sizing: inherit;
}
.ovh{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
    color: #D4C17F;
}
h1{
    font-size: 48px;
    max-width: 600px;
    margin: 0 auto;
}
img{
    width: 100%;
}
a, a i:before{
    color: #ffffff;
    text-decoration: none;
    transition: color 400ms;
    outline: none !important;
}
a:hover, a:hover i:before{
    color: #D4C17F;
}
a img{
    transition: opacity 400ms;
}
a img:hover{
    opacity: 0.8;
}
#begin{
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(../img/bg1.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header{
    padding-top: 34px;
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
}
.df{
    display: flex;
}
.aic{
    align-items: center;
}
.aie{
    align-items: flex-end;
}
.jcb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.logo{
    width: 134px;
    display: block;
}
.menu{
    display: flex;
}
.menu-item{
    margin-left: 39px;
}
.user{
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.auth .user{
    display: block;
}
.auth .login{
    display: none;
}
.avatar{
    height: 35px;
    width: 35px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: 15px;
    position: relative;
}
.dropdown{
    display: none;
    position: absolute;
    width: 100%;
    background-color: #242B33;
    top: 100%;
    padding: 15px;
    flex-direction: column;
    border-radius: 15px;
    min-width: 120px;
}
.dropdown li:not(:first-child){
    margin-top: 10px;
}
.user:hover .dropdown{
    display: flex;
}
.txt-begin{
    text-align: center;
}
.mouse{
    margin-top: 90px;
    font-size: 40px;
    transition: transform 400ms;
}
.mouse:hover{
    transform: scale(1.2);
}
.contact i{
    font-size: 21px;
    margin-right: 14px;
}
.contact p, .contact a{
    display: inline-flex;
    align-items: center;
    font-size: 18px;
}
.mlcont{
    margin-left: 70px;
}
.pd{
    padding-left: 15px;
    padding-right: 15px;
}
.pdr{
    padding-right: 15px;
}
.top-contacts{
    padding-bottom: 74px;
}
#about .container, .aboutapp .container{
    padding-top: 90px;
}
#about h2, #aboutapp h2{
    padding-bottom: 35px;
}
.pr{
    position: relative;
}
h2{
    font-weight: 700;
    font-size: 36px;
}
#lofts h2{
    padding-top: 100px;
    padding-bottom: 50px;
}
.col-100, .col-50, .col-25{
    padding-right: 15px;
    padding-left: 15px;
}
.col-100{
    width: 100%;
}
.col-50{
    width: 50%;
}
.col-25{
    width: 25%;
}
.lofts-col, .form-col{
    padding-bottom: 30px;
}
.lofts-col p{
    font-size: 20px;
    line-height: 1.15;
}
.imgloft{
    display: block;
    height: 320px;
    background-size: cover;
    background-position: center;
}
.grad{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
    background: linear-gradient(180deg, rgba(45, 52, 60, 0.8), rgba(45, 52, 60, 0) 50%, rgba(45, 52, 60, 0.8) 100%);
}
h3{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 35px;
}
.left-form p{
    font-size: 16px;
    line-height: 1.5;
}
.form2-col{
    margin-top: 35px;
}
.modal .form2-col{
    margin-top: 15px;
}
.modal .form2-col:first-child{
    margin-top: 0;
}
.right-form p{
    font-size: 13px;
}
.tac{
    text-align: center;
}
form input, .btn{
    background-color: rgba(255,255,255,0.2);
    border: none;
    height: 50px;
    width: 100%;
    animation: input 4s;
}
.btn.wa{
    width: auto;
}
@keyframes input{
    0%,
    20%,
    40% {
        transform: scale(0.5);
        opacity: 0.3;
    }
    30%,
    60%,
    85% {
        transform: scale(1);
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
form input, form input::placeholder{
    text-align: center;
    color: #bebebe;
    font-size: 14px;
}
.btn{
    background-color: #d4c17f;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 400ms;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    transform: scale(1.1);
}
#form{
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../img/build.jpg)#C4C4C4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 157px;
    padding-bottom: 140px;
}
h4{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 100px;
}
.form-maps{
    display: flex;
    justify-content: center;
    padding-bottom: 180px;
}
.form-maps iframe{
    width: 1110px;
    height: 358px;
}
h5{
    font-weight: 700;
    font-size: 36px;
}
#form-questions form{
    padding-top: 15px;
    padding-bottom: 180px; 
}
.form2-col p{
    font-size: 13px;
}
footer .menu{
    flex-direction: column;
}
footer .menu-item{
    margin-left: 0;
    margin-bottom: 15px;
}
.contacts p{
    margin-left: 0;
    margin-bottom: 15px; 
}
.soc-icon{
    margin-left: -20px;
}
.soc-icon a{
    margin-left: 20px;
}
.soc-icon a i{
    font-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
    position: relative;
}
.soc-icon a .icon-yb{
    font-size: 28.26px;  
    width: 28.26px;  
}
.soc-icon a .icon-vk{
    font-size: 35.05px;
    width: 35.05px;
}
.soc-icon a i:before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.contacts{
    margin-bottom: 15px;
}
#footer{
    padding-top: 57px;
    padding-bottom: 45px;
    background: #2D343C;
}

.banner-tick samp{
    font-size: 5em;
    font-weight: 700;
    color:#D4C17F;
    font-family: 'Roboto';
}

.header-subtitle{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.infoapp strong{
    font-weight: bold;
    color:#D4C17F;
}
.slide{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btnslide {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: 2px solid #fff;
    transition: background-color 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forslider{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.btnslide:hover{
    background-color: #242B33;
}
.btnslide:before{
    content: '';
    border: 6px solid transparent;
}
.btnprev{
    left: 15px;
}
.btnprev:before{
    content: '';
    border-right-color: #fff;
    margin-right: 6px;
}
.btnnext{
    right: 15px;  
}
.btnnext:before{
    content: '';
    border-left-color: #fff;
    margin-left: 6px;
}
#btnarenda{
    margin-top: 35px;
}

.closeblock2, .modal{
    display: block;
    width: 100%;
    opacity: 0;
    transition: opacity 400ms;
    position: fixed;
    transform: translateX(calc(-100% - 15px));
    background-color: #242B33;
    left: 0;
    top: 0;
}
.closeblock2{
    height: 100vh;
    z-index: 8;
}
.modal{
    max-width: 500px;
    max-height: calc(100vh - 60px);
    z-index: 9;
    box-shadow: 0px 0px 15px rgba(212,192,132,0.5);
    overflow: auto;
    padding: 30px 15px;
}
.openmodal .closeblock2{
    transform: translateX(0);
}
.opensignin #signin, .openregister #register, .openarenda #arenda{
    transform: translate(-50%, -50%);
    opacity: 1;
    top: 50%;
    left: 50%;
}
.openmodal .closeblock2{
    opacity: 0.5;
}
.error{
    margin-top: 15px;
    color: red;
}
.btnmenu, .moblogo, .closeblock, .error{
	display: none;
}
.showerror .error{
    display: block !important;
}

/* Номера страниц */

.sort{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    width: 50%;
}

.sort select{
    margin: 0 10px;
    padding: 10px 15px;
    width: auto;
}

.pagination > li > a{

    background-color: #d4c17f;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #d4c17f;
    background-color: white;
    border-color: #ddd;
}

/* Номера страниц */

/* Профиль */

.profile-info{
    padding: 50px 0;
    box-shadow: 0px 0px 15px rgba(212,192,132,0.5);

}

.user-block{
    padding: 50px 0;
}

.profile-btn{
    margin: 10px 0;
    padding: 10px;
}

.profile-btn .btn{
    margin: 0 10px;
}

.btn-add{
    background-color: rgb(1, 109, 1);
}

.btn-delete{
    background-color: rgb(180, 0, 0);
}

.btn-add:hover{
    color: rgb(1, 109, 1);
    background-color: white;
    border:  2px solid rgb(1, 109, 1);
}


.btn-delete:hover{
    color: rgb(180, 0, 0);
    background-color: white;
    border:  2px solid rgb(180, 0, 0);
}

.profile-info{
    display: flex;
    padding-top: 20px;

}

.profile-info .ava{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ava img{
    width: 300px;
    padding: 10px;
}

.description div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0;
    width: 100%;
}

.description h2{
    padding: 20px 0;
}

.description h6{
    padding: 0px 10px;
}

.description .btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ava .forbtnmore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ava .forbtnmore .btn{
    width: 300px;
    margin: 5px 0;
}

/* Профиль */

/* Калькулятор */
.container-calc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc{
    box-shadow: 0px 0px 15px rgba(212,192,132,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 50px;
}

.calc label, p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.calc input,select{
    margin: 10px 0;
    font-size: 20px;
    height: 50px;
}

/* Калькулятор */